- if @note
 %title #{@title}
 %form{ :action => "/#{@note.id}", :method => "post"}
  %input{:type => "hidden", :name => "_method", :value => "put" }
  %textarea{:name => "content"} #{@note.content}
  %input{:type => "checkbox", :name => "complete", :checked => !!@note.complete }
  %input{:type => "submit", :value => "save"}
 
 %a{ :href => "/#{@note.id}/delete"} delete note
- else
 %p note not found